{% if include.sideBySide == true or include.sideBySide == 'true' %} 
<figure class="image sideBySide">
    <img src="{{ include.url }}">
    <figcaption>
        <p>↑</p>
        <div>
            <p class="bold">{{ include.title }}</p>
            {% if include.description != nil %} <p>{{ include.description }}</p> {% endif %}
        </div>
    </figcaption>
</figure>

{% else %}
<div class="image">
    <img src="{{ include.url }}">
    <figcaption>
        <p>↑</p>
        <div>
            <p class="bold">{{ include.title }}</p>
            {% if include.description != nil %} <p>{{ include.description }}</p> {% endif %}
        </div>
    </figcaption>
</div>
{% endif %}

