/* skip to content link */
#skipNav, #copiedNotify {
	text-align: center;
	text-decoration: none;
	background: var(--c-primary);
	opacity: .85;
	color: black;
	padding: 2rem 0;
	position: absolute;
	top: -200px;
	left: 0;
	right: 0;
	z-index: 5;
	transition: top ease-in 80ms;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}
#skipNav:focus {
	top: 0;
	outline: 0;
}

#copiedNotify {
	position: fixed;
	top: auto;
	visibility: hidden;
	margin: 0;
	opacity: 1;
	bottom: -900px;
	transition: all 500ms ease;
}
#copiedNotify.show {
	visibility: visible;
	bottom: 0;
	opacity: 1;
}
