:root {
  --unit: 8px;
  --fontFamily: "system-ui", -apple-system, BlinkMacSystemFont, sans-serif;

  --spaceIncrement: 2;

  --space-s: var(--unit);
  --space-m: calc(var(--unit) * var(--spaceIncrement));
  --space-l: calc(var(--space-m) * var(--spaceIncrement));
  --space-xl: calc(var(--space-l) * var(--spaceIncrement));
  --space-2xl: calc(var(--space-xl) * var(--spaceIncrement));
  --space-3xl: calc(var(--space-2xl) * var(--spaceIncrement));
  --space-4xl: calc(var(--space-3xl) * var(--spaceIncrement));
  --space-5xl: calc(var(--space-4xl) * var(--spaceIncrement));

  --padding-s: var(--space-s);
  --padding-m: var(--space-m);
  --padding-l: var(--space-l);
  --padding-xl: var(--space-xl);

  --fontSize-xs: 14px;
  --lineHeight-xs: calc(var(--unit) * 3);

  --fontSize-s: 18px;
  --lineHeight-s: calc(var(--unit) * 3.5);

  --fontSize-m: 24px;
  --lineHeight-m: calc(var(--unit) * 4.5);

  --fontSize-l: 34px;
  --lineHeight-l: calc(var(--unit) * 5);

  --fontSize-xl: 44px;
  --lineHeight-xl: calc(var(--unit) * 6);

  --fontWeight-300: 300;
  --fontWeight-400: 400;
  --fontWeight-500: 500;
  --fontWeight-600: 600;
  --fontWeight-700: 700;

  --accent: #2ba5e5;

  --colorLightnessIncrement: 10%;

  --c-primary-hue: 165;
  --c-primary-saturation: 72%;
  --c-primary-lightness: 50%;

  --c-primary: hsl(var(--c-primary-hue), var(--c-primary-saturation), var(--c-primary-lightness));

  --c-primary-2xlight: hsl(var(--c-primary-hue), var(--c-primary-saturation), calc(var(--c-primary-lightness) + var(--colorLightnessIncrement) * 3));
  --c-primary-xlight: hsl(var(--c-primary-hue), var(--c-primary-saturation), calc(var(--c-primary-lightness) + var(--colorLightnessIncrement) * 2));
  --c-primary-light: hsl(var(--c-primary-hue), var(--c-primary-saturation), calc(var(--c-primary-lightness) + var(--colorLightnessIncrement)));

  --c-primary-dark: hsl(var(--c-primary-hue), var(--c-primary-saturation), calc(var(--c-primary-lightness) - var(--colorLightnessIncrement)));
  --c-primary-xdark: hsl(var(--c-primary-hue), var(--c-primary-saturation), calc(var(--c-primary-lightness) - var(--colorLightnessIncrement) * 2));
  --c-primary-2xdark: hsl(var(--c-primary-hue), var(--c-primary-saturation), calc(var(--c-primary-lightness) - var(--colorLightnessIncrement) * 3));

  --greyHue: 210;
  --greySaturation: 17%;

  --initialGreyLightness: 95%;
  --greyscaleLightnessIncrement: 12%;

  --ink-0: #F9FAFC;
  --ink-1: #EFF2F7;
  --ink-3: #E5E9F2;
  --ink-4: #E0E6ED;
  --ink-5: #C0CCDA;
  --ink-6: #8492A6;
  --ink-7: #3C4858;
  --ink-8: #1F2D3D;
  --ink-9: #222D39;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  color: var(--ink-8);
  font-family: var(--fontFamily);
  font-size: var(--fontSize-s);
  line-height: var(--lineHeight-s);
  background-color: var(--ink-0);
}

*, *:before, *:after {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ink-9: #F9FAFC;
    --ink-8: #EFF2F7;
    --ink-7: #E5E9F2;
    --ink-6: #E0E6ED;
    --ink-5: #C0CCDA;
    --ink-4: #7C797C;
    --ink-3: #3C4858;
    --ink-2: #273444;
    --ink-1: #1F2D3D;
    --ink-0: #222D39;
  }
}

p {
  margin-bottom: 0;
}
.overflow-h {
  overflow-y: hidden;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }