<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{page.title}}. {{site.title}}</title>
  <link rel="icon" href="{{site.url}}/assets/favicon.svg" type="image/svg+xml">
  <link rel="icon" href="{{site.url}}/assets/favicon.png">
  <link rel="apple-touch-icon" href="{{site.url}}/assets/apple-touch-icon.png">
  <link rel="stylesheet" href="{{site.url}}/assets/css/app.css">
  <link rel="stylesheet" href="{{site.url}}/assets/css/glide.core.min.css">
  <link rel="stylesheet" href="{{site.url}}/assets/css/glide.theme.css">
  <script type="text/javascript" src="{{site.url}}/logic/zzz.js"></script>
  <script type="text/javascript"> zzz.init("#333")</script>
  {% seo %}
  {% include analytics.html %}
</head>

<body class="blog">
  <!-- <a href="#content" id="skipNav" tabindex="0">Skip to Content</a> -->
  {% include nav.html %}
  <main id="content" class="contentGrid">
    <header class="title mb4 pb3">
      <h1> {{ page.title }} </h1>
      <p class="byline t3">
        {% for contribution in page.contribution%}
          {{ contribution.item }} 
          {% if forloop.last %}{% else %} • {% endif %}
        {% endfor %}
      </p>
    </header>
    <img class="fullBleed noBorders mb4" src="{{ page.post_image }}" alt="{{ page.title }}">
    {{content}}
  </main>
  {% include footer.html %}
</body>
</html>
